# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build artifacts
build/
*.spec

# Local Logs & Test DBs
logs/*.log
*.db-wal
*.db-shm
test_*.db*

# OS artifacts
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/